In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\exhibition\data\SchoolCircle.csv" , encoding='cp949')

In [10]:
df.info()
df['지역'] = (df['지역']
                        .fillna('서울특별시 기타'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4609 entries, 0 to 4608
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   시도교육청                    4609 non-null   object
 1   시도교육청코드                  4609 non-null   object
 2   교육지원청                    4609 non-null   object
 3   교육지원청코드                  4609 non-null   object
 4   지역                       4609 non-null   object
 5   지역코드                     4608 non-null   float64
 6   소재지구분코드                  4609 non-null   int64
 7   정보공시 학교코드                4609 non-null   object
 8   학교명                      4609 non-null   object
 9   학교급코드                    4609 non-null   int64
 10  설립구분                     4609 non-null   object
 11  제외여부                     4609 non-null   object
 12  제외사유                     13 non-null     object
 13  창의적체험활동동아리 동아리수          4596 non-null   float64
 14  창의적체험활동동아리 참여학생수         4596 non-null   float64
 15  창의적체험활동동아리 지도교사수         4596 non-null   float64
 16  창의적체험활동동아리 자원봉사 또는외부강사수  4596 non-null   float64
 17  창의적체험활동동아리 동아리활동 예산지원현황  4596 non-null   float64
 18  학생자율동아리 동아리수             4596 non-null   float64
 19  학생자율동아리 참여학생수            4596 non-null   float64
 20  학생자율동아리 지도교사수            4596 non-null   float64
 21  학생자율동아리 자원봉사 또는외부강사수     4596 non-null   float64
 22  학생자율동아리 동아리활동 예산지원현황     4596 non-null   float64
 23  학교과정구분값(2-3-4)           1728 non-null   float64
 24  학교과정구분명(초-중-고)           1728 non-null   object
 25  공시연도                     4283 non-null   float64
dtypes: float64(13), int64(2), object(11)
memory usage: 936.3+ KB

In [19]:
df_creative_circle = df[['지역' ,'창의적체험활동동아리 동아리수', '창의적체험활동동아리 참여학생수' , '창의적체험활동동아리 지도교사수'
                        ,'창의적체험활동동아리 자원봉사 또는외부강사수', '창의적체험활동동아리 동아리활동 예산지원현황']]
df_circle_free = df[['지역' , '학생자율동아리 동아리수' , '학생자율동아리 참여학생수']]