In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\exhibition\data\SchoolTeacher.csv" , encoding='cp949')

In [13]:
df['지역'] = df['지역'].fillna('서울특별시 기타')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5475 entries, 0 to 5474
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   시도교육청           5475 non-null   object
 1   시도교육청코드         5475 non-null   object
 2   교육지원청           5475 non-null   object
 3   교육지원청코드         5475 non-null   object
 4   지역              5475 non-null   object
 5   지역코드            5474 non-null   float64
 6   소재지구분코드         5475 non-null   int64
 7   정보공시 학교코드       5475 non-null   object
 8   학교명             5475 non-null   object
 9   학교급코드           5475 non-null   int64
 10  설립구분            5475 non-null   object
 11  제외여부            5475 non-null   object
 12  제외사유            53 non-null     object
 13  교수학습공간 일반교실     5475 non-null   float64
 14  교수학습공간 교과교실     5475 non-null   float64
 15  교수학습공간 특별교실     5475 non-null   float64
 16  교수학습공간 수준별교실    5475 non-null   float64
 17  교수학습공간 기타       3283 non-null   float64
 18  학습지원공간 시청각실     2858 non-null   float64
 19  학습지원공간 컴퓨터실     1415 non-null   float64
 20  학습지원공간 멀티미디어실   3736 non-null   float64
 21  학습지원공간 가타       1222 non-null   float64
 22  교원지원공간          5245 non-null   float64
 23  관리행정공간          5408 non-null   float64
 24  체육집회공간          4794 non-null   float64
 25  보건실             5305 non-null   float64
 26  학생탈의실           2190 non-null   float64
 27  학생샤워실           0 non-null      float64
 28  남자화장실           5275 non-null   float64
 29  여자화장실           5264 non-null   float64
 30  공용화장실           1746 non-null   float64
 31  학생식당            4036 non-null   float64
 32  기숙사실수           390 non-null    float64
 33  기타공간            3772 non-null   float64
 34  학교과정구분값(2-3-4)  2104 non-null   object
 35  학교과정구분명(초-중-고)  2104 non-null   object
 36  공시연도            5475 non-null   int64
dtypes: float64(22), int64(3), object(12)
memory usage: 1.5+ MB

In [12]:
df_general = df['교수학습공간 일반교실']
(df_general
      .fillna(0 , inplace = True) # 없는 교실
      )

df_subject = df['교수학습공간 교과교실']
(df_subject
        .fillna(0 , inplace = True) # 없는 교실
        )

df_special = df['교수학습공간 특별교실']
(df_special
        .fillna(0 , inplace = True)) #없는 교실

df_level = df['교수학습공간 수준별교실']
(df_level
        .fillna(0 , inplace = True)) #없는 교실